<% provide(:title, 'All businesses') %>
<h1>All businesses</h1>

<ul class="businesses">
  <% @businesses.each do |business| %>
    <li>
      <%= link_to business.name, business %>
      <% if current_business.admin? && !current_business?(business) %>
        | <%= link_to "delete", business, method: :delete,
                                      data: { confirm: "You sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>
