<% provide(:title, @business.name) %>
<div class="container jumbotron row">
  <aside class="span4">
    <section>
      <h1>
        <!-- <%= gravatar_for @business %> -->
        <%= @business.name %>
      </h1>
      <p class="lead">
      	No user content.
      </p>
    </section>
  </aside>
</div>
