<% provide(:title, @business.name) %>
<div class="jumbotron row">
  <aside class="span4">
    <section>
      <h1>
        <!-- <%= gravatar_for @business %> -->
        <%= @business.name %>
      </h1>
		<a href="/newdeal" class="btn btn-primary">New deal!</a>	
    </section>
  </aside>
	<div class="span8">
		<h3> Your Deals: </h3>
		<% if @business.deals.any? %>
			<ol>
				<% @deals.each do |d| %>
					<% if d.title %>
						<li><%= d.title %>. <i>Posted <%= time_ago_in_words(d.created_at) %> ago.</i></li>
					<% end %>
				<% end %>
			</ol>
		<% end %>
	</div>
</div>
