<% provide(:title, 'About Us') %>
<% provide(:subtitle, 'About Us') %>

<div class="container jumbotron">
	<p class="lead"><br>Connect with your customers and the world around you on Around the Corner.<br></p>

	<div class="container">
	<section class="pull-left">
		<h2>Charlie Fierro</h2>
		<p class="lead">Cofounder</p>

		<h2>Darin Im</h2>
		<p class="lead">Cofounder</p>

		<h2>Toan Tran</h2>
		<p class="lead">Cofounder</p> 
	</section>

	<section class="pull-right">
		<h2>Minh Thao Nguyen</h2>
		<p class="lead">Cofounder</p>

		<h2>Nadja Rhodes</h2>
		<p class="lead">Cofounder</p>
	</section>
	</div>
</div>
