<% provide(:title, 'Contact') %>
<% provide(:subtitle, 'Contact Us') %>

<div class="container jumbotron">
	<p class="lead"><br>For ongoing information about Around the Corner, please visit our <a href="https://www.facebook.com/sap.atc">Facebook page</a>. Also, feel free to contact us with any questions at our <a href="mailto:team@thecornerapp.com">company email</a>.
	</p>
</div>

