<% provide(:title, 'Contact') %>

<div class="container jumbotron">
	<h1>Contact us</h1>
	<p class="lead"><br>For ongoing information about Around the Corner, please read our <a href="#">company blog</a>. Also, feel free to contact us with any questions at our <a href="mailto:cfierro@stanford.edu">company email.</a>
	</p>
</div>

