<% provide(:title, 'Help') %>
<% provide(:subtitle, 'Help') %>

<div class="container jumbotron">
	<h1>FAQs</h1><br />

	<ul>
		<li><h4>What is Around The Corner?<br />
			<small>In a nutshell, AtC is an application that lets users take advantage of their regular routines to explore new and exciting places they might have otherwise overlooked. We aim to foster relationships between locals within a community and the establishments that surround them. This includes establishments that they’ve grown to know and love and ones that are newly-discovered... around the corner.</small>
		</h4></li>

		<li><h4>Who is this app for?<br />
			<small>We are working for users who are tired of being bombarded by irrelevant deals and events. We are working for businesses who are tired of using ineffective methods for attracting and maintaining a growing customer base. We are working to build an application of hyperlocal promotions that encourage relationships between businesses and individual consumers.</small>
		</h4></li>

		<li><h4>How does it work?<br />
			<small>Using a phone’s GPS capabilities, the app observes what locations the app user tends to frequent most often and highlights such locations as special (we call it “pinning” a location). The app can then serve deals and special offers to the user based on these pinned locations (as well as the user’s current location). The deals help the user, and local businesses also benefit by attracting customers who are more likely to return simply because these app users pass by so often. A win-win situation.<br />
			The application user also benefits from a personal log of her movements over a period of hours, days, weeks, even years. This kind of log can serve as a kind of location-based time capsule full of places and pathways most relevant to her.</small>
		</h4></li>

		<li><h4>What is the team working on right now?<br />
			<small>Currently, we're pushing hard towards a May 11, 2013 beta launch date. This means implementing easy deal and event creation for businesses and groups through this website, as well as pushing deals created here to our Android app in an intelligent, unintrusive manner. Once we have this basic functionality down, we have a lot of exciting ideas on where to take the app next.</small>
		</h4></li>

		<li><h4>Umm... iPhone app?<br />
			<small>We know :) We would like to really get our Android app right before porting over to iOS. Look for iOS support in the near future!</small>
		</h4></li>

		<li><h4>You guys are doing everything wrong, and I have a lot of suggestions for improvement. How can I let you know about them?<br />
			<small>We're always looking for constructive feedback! Please visit our <a href="/contact">contact page</a>. From there, you can visit our Facebook page to see if we're already working on something you'd like to suggest. If not, please feel free to email us directly.</small>
		</h4></li>
	</ul>
</div>
