<% provide(:title, 'Welcome to Around the Corner') %>
<% provide(:subtitle, '') %>

<!-- Dynamic panel -->
<div id="dynamic-panel">
	<div class="container">
		<div class="row">
			<div class="dynamic-panel-text span7">
				<h1>Make your business</h1>
				<h1>automatically dicovered</h1>
				<h1>by customer smartphone</h1>
				<p class="btn"> <%= link_to "Sign up", signup_path %></p>
		  </div>
			<div class="dynamic-panel-image span5">
				<img src="/assets/street_corner.png">
			</div>
		</div>
  </div>
</div>
		
<!-- Content panel -->
<div id="content-panel">
	<div class="container">
		<div class="row">
			<div class="content span4 pull-left">
				<div class="content-image">
					<img src="/assets/business.jpg">
				</div>
				<div class="content-text">
					<p>Create your business catalogs and deals, and let them be automatically pushed to and saved on customers smartphone whenever they are around your business location.</p>
				</div>
			</div>
			<div class="content span4" style="margin-left: 45px">
				<div class="content-image">
					<img src="/assets/mobile_user.jpg">
					<!-- http://www.istockphoto.com/stock-illustration-4236441-college-communication.php?st=65b9158 -->
				</div>
				<div class="content-text">
					<p><a href="#">Download</a> our Android app to discover goods and deals around you. The app automatically discovers personalized goods, deals, and business events around your vicinity.</p>
				</div>
			</div>
			<div class="content span4 pull-right">
				<div class="content-image">
					<img src="/assets/customer_feedback.jpg">
					<!-- http://baltimoresunmediagroup.com/wp-content/uploads/2012/08/iStock_000020052881Medium-300x212.jpg -->
				</div>
				<div class="content-text">
					<p><font size="4">What our customers are saying</font></p>
					<p>"... with Around The Corner, we never miss any potential customers."</p>
					<p>- Tony, VP Engineering @ SAP</p> 
				</div>
			</div>
		</div>
	</div>
</div>
