<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sap.clientproject"
      android:versionCode="1"
      android:versionName="1.0">
    
    <permission
        android:name="com.sap.clientproject.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sap.clientproject.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="ClientMainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".RegisterActivity"
            android:label="Register New Account" >
        </activity>
        
        <activity
            android:name=".LoginActivity"
            android:label="Login To Your Account" >
        </activity>
        
        <activity
            android:name=".SingleMapHybridViewActivity"
            android:label="Map View" >
        </activity>
        
        <activity
            android:name=".SingleMapNormalViewActivity"
            android:label="Map View" >
        </activity>
    
        <activity
            android:name=".SingleMapSatelliteActivity"
            android:label="Map View" >
        </activity>
        
        <activity
            android:name=".SingleMapTerrainActivity"
            android:label="Map View" >
        </activity>
        
        <activity
            android:name=".MainMenu"
            android:label="Menu">
        </activity>      

        <service
            android:name="com.sap.clientproject.SendCoordinateService"
            android:enabled="true" />
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBVMG-rxSK11t8yuqp_1eAkP3Y1PWLoOhg" />
    </application>
</manifest>
