<% provide(:title, 'All Web Businesses') %>
<% provide(:subtitle, 'All Web Businesses') %>

<div class="container">

<% if current_business.admin? then %>
  <%= link_to "<< View profile", current_business %>
<% end %>

<ul class="businesses">
  <% @web_businesses.each do |web_business| %>
    <li>
      <%= link_to web_business.name, web_business %>
      (<%= web_business.deals.all.size %>)
      <% if current_business.admin? %>
        | <%= link_to "delete", web_business, method: :delete,
                                      data: { confirm: "You sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>

</div>
