<% provide(:title, "Sign in") %>

<div class="container">
  <div class="row">
    <div class="span6">
      <form accept-charset="UTF-8" action="/sessions" class="form-signin" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ciUWLuIlrDyJVuatqhrwopZidOBUn3XcW4oJaI+aZ5k=" /></div>
        <h1 class="center">Sign in</h1>

        <label for="session_email">Email</label>
        <input id="session_email" name="session[email]" size="30" type="text" class="input-block-level"/>

        <label for="session_password">Password</label>
        <input id="session_password" name="session[password]" size="30" type="password" class="input-block-level"/>

        <input class="btn btn-large btn-primary" name="commit" type="submit" value="Sign in" />

        <p><br>New user? <%= link_to "Sign up now!", signup_path %></p>
      </form>
    </div>
    <div class="span6 center">
      <img src="/assets/logo_iphone.png" alt="logo", width="200" height="200">
      <p class="lead">Connect with your customers and the
        world around you on Around the Corner.</p>
      </div>
    </div>
  </div>
</div>
