<%= form_for(@deal) do |f| %>
  <%= render 'shared/error_messages2', object: f.object %>
  <div class="field">
    <%= f.text_area :title, placeholder: "Compose new deal..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
