<div id="summary-msgs" class="span6">
  <img src="/assets/stanford_campus.jpg" alt="campus" />

	<h1>Promotions Center</h1>
	<ul>
		<li>Create deals</li>
		<li>Create events</li>
		<li>View dashboard analytics (coming soon!)</li>
			<ul>
				<li>Number of views per promotion</li>
        <li>Customer location activity</li>
				<li>Customer feedback</li>
			</ul>
	</ul>
  <p class="lead"> Reach a wide audience through their smartphones!</p>
</div>