// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$stanford_cardinal_color: #990000;
$header_bkcolor: $stanford_cardinal_color;
$header_text_color: #FFFFFF;
$min_container_width: 980px;

#header {
	height: 80px;
	/*min-width: $min_container_width;*/
	background-color: #e5e5e5 /*white #C0C0C0$header_bkcolor*/;
	
	box-shadow: inset 0 -8px 6px -6px rgba(0,0,0,.3);
	/* http://www.css3.info/preview/box-shadow/ */
	/* http://css-tricks.com/snippets/css/css-box-shadow/ */
}

#header-logo {
	/*margin-left: 10px;*/
	margin-top: -2px;
	float: left;
}

#header-navbar {
	margin-top: 12px;
	/*margin-right: 10px;*/
}
.new-account {
	float: right;
	margin-top: 10px;
	/*margin-right: 10px;*/
	color: #dcdcdc/*$header_text_color*/;
}

$dynamic_panel_top_color: $header_bkcolor;
$dynamic_panel_bottom_color: $header_bkcolor/*#FF4F4A #FF9693*/;
$dynamic_panel_text_color: $header_text_color;

#dynamic-panel {
	height: 300px;
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, $dynamic_panel_bottom_color 0%, $dynamic_panel_top_color 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, $dynamic_panel_bottom_color 0%, $dynamic_panel_top_color 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, $dynamic_panel_bottom_color 0%, $dynamic_panel_top_color 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, $dynamic_panel_bottom_color), color-stop(1, $dynamic_panel_top_color));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, $dynamic_panel_bottom_color 0%, $dynamic_panel_top_color 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, $dynamic_panel_bottom_color 0%, $dynamic_panel_top_color 100%);
}

.dynamic-panel-text {
	padding-top: 25px;
	color: $dynamic_panel_text_color;
	//float: left;
	text-align: left;
}

.dynamic-panel-text h1 {
	padding-bottom: 6px;
}

.dynamic-panel-image {
	//float: right;
	margin-top: 20px;
	//margin-right: 200px;
}

#subheader {
	height: 70px;
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, $dynamic_panel_bottom_color 0%, $dynamic_panel_top_color 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, $dynamic_panel_bottom_color 0%, $dynamic_panel_top_color 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, $dynamic_panel_bottom_color 0%, $dynamic_panel_top_color 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, $dynamic_panel_bottom_color), color-stop(1, $dynamic_panel_top_color));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, $dynamic_panel_bottom_color 0%, $dynamic_panel_top_color 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, $dynamic_panel_bottom_color 0%, $dynamic_panel_top_color 100%);
}

.subheader-text {
	padding-top: 5px;
	color: $dynamic_panel_text_color;
	//float: left;
	text-align: left;
}

.subheader-text h1 {
	font-size: 28px;
}

footer a{
	color: black;
}


#content-panel {
	height: 300px;
}

.content {
	margin-top: 25px;
	height: 250px;
	width: 280px;
	//background-color: #86bde8;
	//border: 1px solid;
	text-align: left;
}
.content-image {
	height: 120px;
}
.content-text {
	text-align: left;
}

#footer {
	padding-top: 30px; 
	height: 50px;
	width: 100%;
	//background-color: rgb(242,242,242);
	background-color: #e5e5e5 /*white #C0C0C0$header_bkcolor*/;
	box-shadow: inset 0 8px 6px -6px rgba(0,0,0,.3);
}


/*
 * Signup page
 */
#dynamic-panel-non-home {
	height: 100px;
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, $dynamic_panel_bottom_color 0%, $dynamic_panel_top_color 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, $dynamic_panel_bottom_color 0%, $dynamic_panel_top_color 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, $dynamic_panel_bottom_color 0%, $dynamic_panel_top_color 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, $dynamic_panel_bottom_color), color-stop(1, $dynamic_panel_top_color));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, $dynamic_panel_bottom_color 0%, $dynamic_panel_top_color 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, $dynamic_panel_bottom_color 0%, $dynamic_panel_top_color 100%);
}
.dynamic-panel-non-home-text {
	color: $dynamic_panel_text_color;
	padding-top: 20px;
}
.dynamic-panel-non-home-image {
	
}

.team-image-clip {
	width:120px;
	height:150px;
	overflow:hidden;

   	border:1px solid #021a40;
}

.team-row-space {
	margin-top: 20px;
}
