<% provide(:title, @user.name) %>
<div class="container jumbotron row">
  <aside class="span4">
    <section>
      <h1>
        <!-- <%= gravatar_for @user %> -->
        <%= @user.name %>
      </h1>
      <p class="lead">
      	No user content.
      </p>
    </section>
  </aside>
</div>
