<hr>
<div class="container center">  
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p class="pull-left">&copy; 2013 SAPenguins &middot; <%= link_to "About Us", about_path %> &middot; <%= link_to "Contact", contact_path %></p>
  </footer>
</div>
