<div id="footer">
  <div class="container">
	  <footer>
	    <p class="pull-left"> 
	    	<%= link_to "About Us", about_path %> 
	    	&middot; <%= link_to "Contact Us", contact_path %>
	    </p>
	    <p class="pull-right">&copy; 2013 Around the Corner, Inc.</p> 
	  </footer>
  </div>
</div>
