<% provide(:title, 'About Us') %>
<% provide(:subtitle, 'About Us') %>

<div class="container jumbotron">
	<h1>Meet our team</h1>
	<p class="lead">Working hard to connect you with customers in the world around you!</p>

	<div class="container">
		<div class="row team-row-space">
		  <div class="span4">
		  	<img class="team-image-clip" src="assets/team_images/fierro.jpg" />
		  	<h2>Charlie Fierro</h2>
			<h4>Cofounder<br />
			<small>Web UI Lead, Web Dev, Mobile Dev</small></h4>
		  </div>
		  <div class="span4">
		  	<img class="team-image-clip" src="assets/team_images/im.jpg" />
		  	<h2>Darin Im</h2>
		  	<h4>Cofounder<br />
		  	<small>Mobile Dev, Mobile UI, Project Coordinator</small></h4>
		  </div>
		  <div class="span4">
		  	<img class="team-image-clip" src="assets/team_images/nguyen.png" />
		  	<h2>Minh Nguyen</h2>
			<h4>Cofounder<br />
			<small>Mobile Dev Lead, Mobile UI Lead</small></h4>
		  </div>
		</div>
		<div class="row team-row-space">
		  <div class="span4">
		  	<img class="team-image-clip" src="assets/team_images/rhodes.jpg" />
		  	<h2>Nadja Rhodes</h2>
			<h4>Cofounder<br />
			<small>Web Dev Lead, Backend Systems</small></h4>
		  </div>
		  <div class="span4">
		  	<img class="team-image-clip" src="assets/team_images/tran.jpg" />
		  	<h2>Toan Tran</h2>
			<h4>Cofounder<br />
			<small>Web Dev, Web UI</small></h4>
		  </div>
		</div>

		<br /><br />
		<p class="lead">Still interested? Take a look at some <a href="/help">freqently asked questions</a>.</p>
	</div>
</div>
