<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aroundthecorner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

   <application android:icon="@drawable/ic_launcher" android:label="@string/app_name">
        <activity android:name=".AdTabActivity"
                  android:label="Login to your Account">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
 
        <!--  Entry for RegisterActivity.class -->
        <activity
            android:name=".RegisterActivity"
            android:label="Register New Account"></activity>
 	
        <activity
            android:name=".AdDescriptionActivity"
           	android:label="Ad Description Page"></activity>
            	
        <activity 
            android:name=".NearbyAdActivity"
            android:label="Nearby Ad Page"></activity>
            	
        <activity 
            android:name=".RecentAdActivity"
            android:label="Recent Ad Page"></activity>
        
        <activity 
            android:name=".UserProfileActivity"
            android:label="User Profile Page"></activity>
        
        <activity
            android:name=".LoginActivity"
            android:label="Login To Your Account"></activity>
            	
    </application>
</manifest>